@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300..700&display=swap');

$off-white: #fffcf2;
$gray: #ccc5b9;
$gray-darker: #403d39;
$dark: 252422;
$font: "Nunito", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: $font;
  background: $gray;
  color: var(--font-color-dark);
}