@use '../variables' as var;

.main {
  height: 100vh;
  padding: 1rem 2rem;
  margin-right: 10px;
  background: var.$bg-darker-color;
  border-radius: 5px;
  overflow: auto;

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: var.$gray-darker;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-track {
    background: var.$gray;
    border-radius: 3px;
  }


  @media (max-width: 1199px) {
    margin-left: 10px;

    &#right {
      margin-left: 250px;
    }
  }

  @media (min-width: 1200px) {
    margin-left: 250px;

    &--left {
      margin-left: 10px !important;
    }
  }

  @media (max-height: 629px) {
    height: auto !important;
  }
}