@use '../variables' as var;

.sidebar {
  width: 250px;
  position: absolute;
  z-index: 999;
  padding-right: 10px;

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background: var.$gray-darker;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-track {
    background: var.$gray;
    border-radius: 3px;
  }

  .MuiListItemButton-root {
    height: 50px;
    border-radius: 0 5px 5px 0;
    box-shadow: 1px 1px 2px var.$bg-darker-color;
    padding: 0 1rem;
    margin-bottom: .7rem;

    &:hover {
      background-color: var.$bg-darker-color !important;
      box-shadow: 1px 1px 2px var(--bg-darker-color);
      color: var(--primary-color);
    }

    .MuiListItemIcon-root {
      min-width: 24px;
      padding-right: 1.2rem;
    }

    .expandIcon {
      font-size: 1.2rem;
      position: relative;
      right: 20px;
    }
  }

  &--collapse {
    opacity: 0.8;
  }

  .Mui-selected {
    background-color: var.$bg-darker-color !important;
    font-weight: bold !important;
    opacity: 1;

    svg {
      color: var(--primary-color) !important;
    }
  }

  .MuiTypography-root {
    display: block;
  }

  &--hide {
    width: 0;

    nav {
      overflow: hidden;
    }

    .MuiTypography-root {
      display: none;
    }
  }

  @media (max-width: 1199px) {
    width: 0;

    nav {
      overflow: hidden;
    }

    .MuiTypography-root {
      display: none;
    }

    &#show {
      width: 250px;

      nav {
        overflow: auto;
      }

      .MuiTypography-root {
        display: block;
      }
    }
  }
}